* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f0fbf2;
}

/* p,
input {
  padding: 2rem;
} */

p {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
}

#department,
input {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
}

/* #department {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
} */

input::placeholder {
  opacity: 0.4;
}

.login-box {
  display: flex;
  justify-content: center;
  margin-left: 30rem;
  margin-right: 30rem;
  margin-top: 10rem;
  padding: 10rem;
}

.login--box {
  border: solid rgba(0, 0, 0, 0.212) 0.01rem;
  padding: 5rem;
  align-self: center;
}

.login--inputs {
  padding-left: 8rem;
}

.btn {
  display: inline-block;
  font-size: 2rem;
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
  margin-top: 6rem;
  margin-right: 4rem;
  /* margin-left: 6rem; */
  color: #d2f4d8;
  font-weight: 600;
  background-color: #40c057;
  border-radius: 1rem;
  border: 0;
}

.btn--cancle {
  background-color: orangered;
}

.btn2--cancle {
  background-color: orangered;
}

.btn:hover {
  cursor: pointer;
  background-color: #3f834a;
  color: #fff;
  transition: all 0.5s;
}

.btn--cancle:hover {
  background-color: red;
}
